.sign-in-container{
    width: 380px;
    justify-content: space-between;
    h2{
        margin: 10px 0;
    }
    .button-container{
        display: inline-flex;
    }
    .button-group{
        display: flex;
        justify-content: space-between;
    }
}