body{
    background-color: rgb(211, 211, 211);
}
.categories-menu {
    padding: 30px;
    width: 100% - padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  